<!-- Bottom Nav Bar -->
<nav class="navbar relative-bottom" style="background-color:#B172E8">
  <h6 class="navbar-text">&copy; Copyright 2022. All Rights reserved by Group 22.</h6>
  <h6 class="navbar-text">sadra.keshavarzsafiei@ontariotechu.net | (905) 721-8668  </h6>
</nav>