<!--NavBar -->
<nav class="navbar navbar-expand-lg " style="background-color:#B172E8">
 <div class="container-fluid">
    <a class="navbar-brand" href="/">JobSearcher</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ">
      <li class="nav-item">
        <% if(title=="Home") { %>
          <a class="nav-link active" href="/">
        <% } else { %>
        <a class="nav-link" href="/">
        <% } %>
        <i class="fa-solid fa-circle-user"></i> Home</a>
        </li>

        <li class="nav-item">
         <% if(title=="Jobs") { %>
          <a class="nav-link active" href="/JobSearch-list">
           <% } else { %>
           <a class="nav-link" href="/JobSearch-list">
            <% } %>           
          <i class="fa-solid fa-table-list"></i> Jobs</a>
        </li>
        <% if(typeof displayName=='string' && displayName) { %>
        <li class="navbar-text">
        <i class="fa-solid fa-user-secret"></i> Welcome, <%= displayName %> </li>
        <li class="nav-item">
        <a href="/logout" class="nav-link">
        <i class="fa-solid fa-user-xmark"></i> Logout</a></li>
        <% } else { %>
        <li class="nav-item">
        <a href="/login" class="nav-link">
        <i class="fa-solid fa-user-plus"></i> Login</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>