<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
<!-- Main Content -->
 <main>
 <div class="container"> 
  <center><h1>Are you looking for JOBS? </h1>
  <img src="/Assests/images/jobsearch.jpg" alt="Image unavailable" width="70%" height="70%">
  <br><br>
  <h5> Click on Jobs to look for a job.</h5>
  </center>
</div>
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>


