<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
<!-- Main Content -->
 <main>
  <div class="container-fluid" style="background-color: #161719"> 
  <br>
  <center><h1 class="display-1" style="color:white">Looking For a Job?</h1>
  <br><br>
  <a href="/JobSearch-list">
  <button type="button" class="btn btn-dark"><h1 class="display-3" style="color:white">Help Us Help You</h1></button>
   
  </a>
  

 
  </center>
  <img src="/Assests/images/landing2.png" class="img-fluid" alt="Image unavailable" width="50%" height="0%">
  
</div> 
</main>
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>


