/* custom css goes here */
@charset "UTF-8";

html, body{
  min-height: 120%;
}

h1{
  font-family: 'Lobster', cursive;
  text-align: center;
  color: black;
}

body{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#10318c+0,fba6e1+50,fd89d7+51,3d3872+100 */
background: rgb(16,49,140); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(16,49,140,1) 0%, rgba(251,166,225,1) 50%, rgba(253,137,215,1) 51%, rgba(61,56,114,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(16,49,140,1) 0%,rgba(251,166,225,1) 50%,rgba(253,137,215,1) 51%,rgba(61,56,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(16,49,140,1) 0%,rgba(251,166,225,1) 50%,rgba(253,137,215,1) 51%,rgba(61,56,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10318c', endColorstr='#3d3872',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}